<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"

    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
  <title>Hodaya Bakery</title>
</head>

<body>
  <app-nav-bar></app-nav-bar>
  <div class="container-fluid row">

    <nav class="ui mini steps container-fluid">
      <a class="completed step">
        <i class="eye icon"></i>
        <div class="content">
          <div class="title">Shopping cart</div>
        </div>
      </a>
      <a class="active step">
        <i class="pencil alternate icon"></i>
        <div class="content">
          <div class="title">Order page</div>
        </div>
      </a>
      <a class="step">
        <i class="dollar icon"></i>
        <div class="content">
          <div class="title">Payment page</div>
        </div>
      </a>
      <a class="step">
        <i class="paper plane outline icon"></i>
        <div class="content">
          <div class="title">Order Confirmation</div>
        </div>
      </a>

    </nav>

    <div class="CartContainer container-fluid">


      <form class="ui form">
        <h4 class="ui dividing header">Shipping Information</h4>
        <div class="two fields">
          <div class="required field">
            <label>First Name</label>
            <input type="text" name="shipping[first-name]" placeholder="First Name">
          </div>
          <div class="required field">
            <label>Last Name</label>
            <input type="text" name="shipping[last-name]" placeholder="Last Name">
          </div>
        </div>
        <div class="two fields">
          <div class="required field">
            <label>Phone</label>
            <input type="text" maxlength="10" name="shipping[phone]" placeholder="Phone">
          </div>
          <div class="required field">
            <label>E-mail</label>
            <input type="text" name="shipping[E-mail]" placeholder="avior@hodayaBaykery.com">
          </div>
        </div>
        <div class="required field">
          <label>Address</label>
          <p> Our deliveries are on Sunday-Friday. Minimum order 150 NIS and on holidays 200 NIS.
            Day-to-day
            deliveries - can be made until 12:00 on the same day </p>
          <div class="three fields">
            <div class="required field">
              <label>City</label>
              <select class="ui fluid dropdown">
                <option value="">Select city</option>
                <option value="Pickup">Pickup from Yavne</option>
                <option value="Dimona">Dimona</option>
                <option value="Netanya">Netanya</option>
                <option value="Ariel">Ariel</option>
              </select>
            </div>
            <div class="required field">
              <label>Street</label>
              <input type="text" name="shipping[address]" placeholder="Street Address">
            </div>
            <div class="required field">
              <label>Apartment number</label>
              <input type="text" name="shipping[address-2]" placeholder="Apt #">
            </div>
          </div>
        </div>
        <button style="background: #1a3771 !important; color: white" class="button" routerLink="/payment">Next</button>
      </form>
    </div>

  </div>
</body>

</html>
