<div id="parent">
  <form id="container" action="#" >
    <h1>Sign in</h1>
    <div>
      <input [(ngModel)]="contact.email" name="email" type="email" placeholder="Email"/>
    </div>
    <div>
      <input [(ngModel)]="contact.password" name="password" type="password" placeholder="Password"/>
    </div>
    <div id="link-container"><a href="#">Forgot your password?</a></div>
    <button class="temp" (click)="logIn()">sign in</button><br><br>
    <button class="temp" routerLink="/sign-up" >sign up</button>
  </form>
</div>
