
#parent {

  background-color: #777;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('../../../assets/img/sign-in.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
}



#container {
  background-color: #fff;
  border-radius: 20px;
  width: 320px;
  text-align: center;
  padding: 20px 40px;
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;


  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
  0 10px 10px rgba(0, 0, 0, 0.22);
}

a {
  font-size: 14px;
  text-decoration: none;
  color: black;

}

#link-container {
  color: black !important;
  margin: 20px 0;
}

button {

  border: 0;
  border-radius: 20px;
  background-color: #1a3771;
  text-transform: uppercase;
  padding: 12px 45px;
  color: white;
  letter-spacing: 1px;

  font-weight: bold;


}

a:hover {

  color: #00201e;
}

input {

  background-color: #eee;
  border: 0;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  border-radius: 15px;

}
