<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
          crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
  <title>Hodaya Bakery</title>
</head>

<body>
<app-nav-bar></app-nav-bar>
<div>
  <img src="../../../assets/img/About/About.png" class="card-img-top" alt="../../../assets/img/About/About.png">
</div>

<div id="hero">
  <div class="container">

    <div class="hero-content">
      <h1 id="h1main">
        Hodaya Bakery
      </h1>
      <h3>
        Hodaya Bakery confectionery was established by confectioner Hodaya Aharoni in 2020,
        Hodaya began baking at home from childhood and diligently learned the ropes of the
        profession from her grandmother Zhava.
      </h3>
      <h3>
        she got married and her first daughter
        was born, Hodaya baked five different cakes for her birthday with an unforgettable
        look and taste, the amazed guests asked her to start baking for them too.
      </h3>
      <h3>
        The motto of the "Hodaya Bakery" brand has always been to provide the best
        products from the best raw products and self-production, which allows every customer
        throughout the year to enjoy his products according to his needs and desires.
      </h3>
      <h3>
        For years, countless cafes have been purchasing Hodaya Bakery confectionery products and
        boasting of a brand that attracts a large crowd to their business. In addition, they
        emphasize in their menu that their desserts carry the brand name "Hodaya Bakery".
      </h3>
    </div>
  </div>
</div>
<script>
  $('.dropdown').hover(function () {
    $('.dropdown-menu', this).trigger('click');
  });
</script>

</body>
